<body>  
  <form method="POST" class="post-form" enctype="multipart/form-data" action="upload-file">  
          {% csrf_token %}  
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name"><br>
          <label for="description">Description:</label><br>
          <input type="text" id="description" name="description"><br><br>
          <input type="file" id="file" name="file"><br><br>
          <button type="submit" class="save btn btn-default">Save</button>  
  </form>  
</body>  