

// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     // font-family: 'Poppins', sans-serif;
//     // font-size: 2.2vh;
// }

.profile-content {
    // box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    // transition: 0.3s;
    width: 100%;
    height: 90%;
    // background-color: #fff;
    // border-radius: 20px;
    // font-size: 1.1rem;
    // overflow: hidden;
    &__button-edit {
        font-size: 30px;
        position: absolute;
        right: 6%;
        top: 8%;
    }

    &__button-edit:hover {
        color: #9DE0FF;
        cursor: pointer;
    }

    &__sub {


        &__button-edit {
            height: 5vh;
            width: 8vw;
            background-color: #b4e2b3;
            border-radius: 50px;
            margin: auto;
            border: none;
            color: #555;

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                color: #fff;
            }
        }

        &__button-edit:hover {
            background-color: #9DE0FF;
            color: #fff;
        }

        &__info {
            width: 100%;
            height: fit-content;
            margin: auto;
            padding-top: 5%;
            padding-left: 34%;

            div {
                height: 10vh;
                display: grid;
                padding: auto 0;
                grid-template-columns: 30% 70%;

                .properties {
                    font-weight: bold;
                    font-size: 1.7rem;
                    text-align: right;
                    width: 8vw;
                }

                span {
                    font-size: 1.7rem;
                    color: black;
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}
.title {
    a {
        color: #555;
    }
}

