.form-panel {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    justify-self: center;
    height: calc(100vh - var(--nav-bar-height));
    .form-wrapper {
        position: relative;
        z-index: 1;
        background: #ffffff;
        margin: auto;
        padding: var(--spacing-15);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px;
      
        .form-header {
          font-size: var(--fs-5xl);
          text-align: center;
          color: #000;
        }
      
        .form-button-section {
          & button {
            margin-right: var(--spacing-10);
          }
        }
      
        & > p {
          align-self: center;
        }
      }
      
}